

/* color: rgba(red, green, blue, alpha); */

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap');
:root{
    --background-color:white;
    --nav-text-color:white;
    --nav-bg:#9b45b2;
    --footer-bg:#9b45b2;
    --footer-text-color:white;
    --model-bg:#9b45b2;
    --carousel-bg:black;
    --carousel-text-color:white;
    --carousel-text-bg:blue;
    --demo-bg:yellow;



    --nav-link-text:1.1rem;
} 


*{
    padding: 0px;
    margin: 0px;
}

html{
    width: 100%;
    background-color:var(--background-color);
    overflow-x:hidden ;
}


/* header nav css start  */
.brand_logo{
    /* background-color:white; */
    width: 145px;
    opacity: 1;
}
#drop_bg{
    background-color:var(--nav-bg);
    position:absolute;
    left: 20%;
    box-shadow: 1px 2px 15px black;
}
#dropdown_item{
     font-size: var(--nav-link-text);
     color: var(--nav-text-color);
     font-weight: 300;
}
#nav_toggle{
    color:var(--nav-bg) ;
}
#navbar_bg{
    z-index: 100;
    width: 100%;
     background-color:var(--nav-bg);
     position:fixed;
     top: 0px;
     /* box-shadow: 1px 2px 34px black; */
 }
 #header_nav_link{
    display: flex;
    align-items: center;
}
 @media screen and (max-width:990px){
    #header_nav_link{
        display: block;
        padding: 10px 20px;
    } 
 }
 .nav_link{
     text-shadow:0.5px 0px 0px var(--nav-text-color);
     font-size: var(--nav-link-text);
     color: var(--nav-text-color);
     font-weight: 600;
     text-align: left;
 }
 .sign_icon{
    margin-left: 10px;
     padding: 0px;
     font-size: var(--nav-link-text);
 }
 /*Header nav css end*/

 /*Footer nav css start*/
.footer{
    width: 100%;
    font-family: 'JetBrains Mono', monospace;
    padding: 25px 0px;
    background-color: var(--footer-bg);
    color: var(--footer-text-color);
    margin: auto;
}
.footer_card h2{
    font-size: 1.3rem;
    font-weight: 900;
    font-variant-caps: titling-caps;
    /* background-color: green; */
}
.footer_card .follow_us_t{
    text-align: center;
}
.follow_us{
   
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.footer_copy .footer_text{
    text-align: right;
}
 /*Footer nav css end*/

 /*Home css start*/
 .home_section{
     padding-top: 55px;
     width: 100%;
     /* height: 100vh; */
 }
 .home_cb{
     padding: 15px;
 }
 .home_top{
     width: 100%;
     align-items: center;
     display: flex;
     min-height:400px;
     height: 100vh;
     background-color:var(--nav-bg);
     padding: 25px 3px;
     color: var(--nav-text-color);
 }
 .home_top_text{
     padding-bottom:22px ;
 }
 #home_img{
     width: 100%;
     height: auto;
     padding: 5px 15px;
     z-index: 500;
     opacity: 1;
 }
.home_mid_f{
    width: 90%;
    margin: auto;
    padding: 50px 0px;
}
.home_card{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height:145px;
    padding: 10px;
    /* background-color:green; */
    box-shadow: 2px 2px 10px var(--nav-bg);
    border-radius: 5px;
    color:var(--nav-bg);
}
.home_card:hover{
    color:var(--nav-text-color);
    background-color: var(--nav-bg);
    box-shadow: 2px 2px 45px var(--nav-bg);
}
.course_all{
    min-height: 570px;
    /* background-color: red; */
}
.course_card{
    padding: 25px;
    margin-top: 5px;
    margin-bottom: 15px;
    min-height: 170px;
    height: auto;
    border-radius: 5px;
    box-shadow: 2px 3px 12px var(--nav-bg);
}
.course_card:hover{
    box-shadow: 2px 3px 36px var(--nav-bg);
}
.co_about{
    text-align: right;
    margin-top: 0px;
    font-weight: 700;
}
@media screen and (min-width:768px){
    
    .co_set_1{
        position: relative;
    }
    .co_set_2{
        position: relative;
        bottom: 55px;
    }
    .co_set_3{
        bottom:110px;
        position: relative;
    }
    .co_set_4{
        position: relative;
        bottom: 165px;
    }
    .co_set_5{
        position: relative;
        bottom: 220px;
    }
    .co_set_6{
        position: relative;
        bottom: 275px;
    }
    .allCo_body{
        width: 100%;
        position:absolute;
        right:2px;
        background-color:white;
        padding: 25px;
        height: 325px;
        display: flex;
        align-items: center;
        box-shadow: 1px 2px 15px var(--nav-bg);
    }
    .allCo_body:hover{
        box-shadow: 1px 2px 45px var(--nav-bg);
    }
}
.course_container .co_text {
padding: 15px 0px;
}

.all_course{
    padding: 55px 0px;
}
.demo_from{
    padding: 30px  ;
    border-radius: 25px;
    background-color: white;
    margin:auto;
    box-shadow: 1px 2px 35px black;
}
.demo_from:hover{
    box-shadow: 1px 2px 15px black;
}
.demo_from h4{
    text-align: center;
}
#demo_btn{
    background-color: white;
    font-weight: 500;
}
#demo_btn:hover{
    color: white;
    background-color:var(--demo-bg);
}
input{
    padding: 5px;
    border-radius: 5px ;
    background-color:rgba(4,5,6,0);
    border: 1px solid var(--nav-bg);
    outline: none;
}
input::placeholder{
    color:rgba(8, 8, 8, 0.575);
    font-weight: 500;
}
.demo_input{
 margin:30px 0px;
}
.demo_input label{
    display: block;
	float:left;
	margin-top: -19px;
	background: #FFFFFF;
	height: 14px;
	padding: 2px 5px 2px 5px;
	color:black;
	font-size: 14px;
    position: relative;
    left: 1rem;
    bottom: -8px;
	/* overflow: hidden; */
	font-family: Arial, Helvetica, sans-serif;
}
.online_video{
    width: 80%;
    opacity: 1;
    position: relative;
    left: 2rem;
}
.book_demo{
    background-color: var(--demo-bg);
    padding:56px 0px ;
    min-height: 806px; ;
}
.demp_det p{
    text-align: center;
}
.demp_det{
    display: flex;
    text-align: center;
}
.demo_img{
    width: 50%;
    opacity: 1;
}
.accordion_demo{
    padding: 45px 0px;
}
.review_all{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#card_set_details{
    margin: 12px 0px;
    padding: 5px;
}
#card_img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    opacity: 1;
}
#card_details h5{
    text-align: center;
}



.table_section{
    margin: 35px 0px;
}
.table_t{
    text-align: center;
    padding: 5px 0px 10px 0px;
}
.table_set_img {
    display: flex;
    justify-content: center;
}
.table_img{
    width: 100%;
    opacity: 1;
}
.table_com{
    text-align: center;
    font-weight: 500;
    /* background-color: red; */
}
.padding_table_cen{
    padding:19px 0px ;
}
.table_content{
    outline: 1px solid lightseagreen;
    padding: 5px 0px;
    background-color: lightseagreen;
}
.table_data{
    background-color: lightsteelblue;
    outline: 1px solid lightslategrey;
}


.why_ed_all{
    background-color: lightcoral;
    margin: 25px 0px;
    padding: 50px 0px;
}
.why_ed_t{
    text-align: center;
}
.why_ed{
    display: flex;
    justify-content: space-evenly;
}
.why_edven{
    text-align: center;
    width: 202px;
    margin: 15px 0px 5px 0px;
    border-radius: 5px;
    height: 150px;
    padding: 5px;
    /* box-shadow: 2px 3px 45px  black; */
}
.why_edven:hover{
    box-shadow: 1px 2px 15px black;
}
.why_edven_img{
    text-align: center;
    opacity: 1;
    width: 105px;
}
 /*Home css end*/

 /*Model css start*/
.model_bg{
     background-color:var(--model-bg);
 }
 /*MOdel css end*/

 /*Carousel css start*/
.carousel_body{
     width: 100%;
     height:auto;
     min-height: 256px;
     background-color: var(--carousel-bg);
     z-index: 0;
     overflow: hidden;
    }
.carousel_item{
    background-color: red;
    height: 256px;
    display: flex;
    align-items: center;
    flex-direction: column;
 }   
img{
    width: 45px;
    opacity: 0.5;
}
#center {
     text-align: left;   
}
 /*carousel css end*/
