

/* color: rgba(red, green, blue, alpha); */

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap');
:root{
    --background-color:white;
    --nav-text-color:white;
    --nav-bg:#9b45b2;
    --footer-bg:#9b45b2;
    --footer-text-color:white;
    --model-bg:#9b45b2;




    --nav-link-text:1.1rem;
} 


*{
    padding: 0px;
    margin: 0px;
}

html{
    
    background-color:var(--background-color);
}


/* header nav css start  */
#drop_bg{
    background-color:var(--nav-bg);
    position:absolute;
    left: 20%;
    box-shadow: 1px 2px 15px black;
}
#dropdown_item{
     font-size: var(--nav-link-text);
     color: var(--nav-text-color);
     font-weight: 300;
}
#nav_toggle{
    color:var(--nav-bg) ;
}
#navbar_bg{
    z-index: 100;
    width: 100%;
     background-color:var(--nav-bg);
     position:fixed;
     top: 0px;
 }
 .nav_link{
     text-shadow:0.5px 0px 0px white;
     font-size: var(--nav-link-text);
     color: var(--nav-text-color);
     font-weight: 600;
     text-align: left;
 }
 #sign_up{
     background-color: white;
     align-items: right;
     position: relative;
     left:5%;
     font-size: var(--nav-link-text);
     font-weight: 500;
     border-radius: 15px;
 }
 .sign_icon{
    margin-left: 10px;
     padding: 0px;
     font-size: var(--nav-link-text);
 }
 /*Header nav css end*/

 /*Footer nav css start*/
.footer{
    font-family: 'JetBrains Mono', monospace;
    padding: 25px 0px;
    background-color: var(--footer-bg);
    color: var(--footer-text-color);
    margin: auto;
}
.footer_card h2{
    font-size: 1.3rem;
    font-weight: 900;
    font-variant-caps: titling-caps;
    /* background-color: green; */
}
.footer_card .follow_us_t{
    text-align: center;
}
.follow_us{
   
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.footer_copy .footer_text{
    text-align: right;
}
 /*Footer nav css end*/


 /*Home css start*/
 .home_section{
     padding-top: 55px;
     height: 100vh;
 }



 /*Home css end*/

 /*Model css start*/
 .model_bg{
     background-color:var(--model-bg);
 }
 /*MOdel css end*/

 /*Carousel css start*/
 .carousel_body{
     width: 100%;
     margin: auto;
     background-color: red;
     z-index: 0;
 }
 img{
    opacity: 0.5;
 }
 .center {
    background-color: blue;
    position: absolute;
    top: 20%;
    height: 50%;
  }
 /*carousel css end*/