

/* color: rgba(red, green, blue, alpha); */

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap');
:root{
    --background-color:white;
    --nav-text-color:white;
    --nav-bg:#9b45b2;
    --footer-bg:#9b45b2;
    --footer-text-color:white;
    --model-bg:#9b45b2;
    --carousel-bg:black;
    --carousel-text-color:white;
    --carousel-text-bg:blue;


    --nav-link-text:1.1rem;
} 


*{
    padding: 0px;
    margin: 0px;
}

html{
    width: 100%;
    background-color:var(--background-color);
}


/* header nav css start  */
.brand_logo{
    background-color:white;
    width: 145px;
}
#drop_bg{
    background-color:var(--nav-bg);
    position:absolute;
    left: 20%;
    box-shadow: 1px 2px 15px black;
}
#dropdown_item{
     font-size: var(--nav-link-text);
     color: var(--nav-text-color);
     font-weight: 300;
}
#nav_toggle{
    color:var(--nav-bg) ;
}
#navbar_bg{
    z-index: 100;
    width: 100%;
     background-color:var(--nav-bg);
     position:fixed;
     top: 0px;
     box-shadow: 1px 2px 134px black;
 }
 #header_nav_link{
    display: flex;
    align-items: center;
}
 @media screen and (max-width:990px){
    #header_nav_link{
        display: block;
        padding: 10px 20px;
    } 
 }
 .nav_link{
     text-shadow:0.5px 0px 0px var(--nav-text-color);
     font-size: var(--nav-link-text);
     color: var(--nav-text-color);
     font-weight: 600;
     text-align: left;
 }
 .sign_icon{
    margin-left: 10px;
     padding: 0px;
     font-size: var(--nav-link-text);
 }
 /*Header nav css end*/

 /*Footer nav css start*/
.footer{
    font-family: 'JetBrains Mono', monospace;
    padding: 25px 0px;
    background-color: var(--footer-bg);
    color: var(--footer-text-color);
    margin: auto;
}
.footer_card h2{
    font-size: 1.3rem;
    font-weight: 900;
    font-variant-caps: titling-caps;
    /* background-color: green; */
}
.footer_card .follow_us_t{
    text-align: center;
}
.follow_us{
   
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.footer_copy .footer_text{
    text-align: right;
}
 /*Footer nav css end*/


 /*Home css start*/
 .home_section{
     padding-top: 55px;
     height: 100vh;
 }
 .home_top{
     width: 100%;
     align-items: center;
     display: flex;
     height: 40vh;
     min-height: 256px;
     background-color:var(--nav-bg);
     padding: 25px 0px;
     color: var(--nav-text-color);
 }



 /*Home css end*/

 /*Model css start*/
 .model_bg{
     background-color:var(--model-bg);
 }
 /*MOdel css end*/

 /*Carousel css start*/
 .carousel_body{
     width: 100%;
     height: auto;
     min-height: 256px;
     background-color: var(--carousel-bg);
     z-index: 0;
     overflow: hidden;
    }
 .carousel_item{
    background-color: red;
    height: 256px;
    display: flex;
    align-items: center;
    flex-direction: column;
 }   
img{
    width: 45px;
    opacity: 0.5;
}
#center {
     text-align: left;   
}
 /*carousel css end*/